*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid #244624;
    font-size:34px;
    height: 65px;
    width: 456px;
}

button{
    border-radius: 20px;
    font-size: 40px;
   
    width: 90px; 

    height: 60px;
    margin: 6px;
}

.calculator{ 
    border: 4px solid #6d807d;
    background-color: #e4ff99;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    
}

h1{
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}